.card {
  &__container {
    position: absolute;
    right: 0px;
    top: 76px;
  }
  &.enter {
    opacity: 0;
    transform: translateY(-10px);
    &_active {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  &.exit_active {
    opacity: 0;
    transform: scale(0.9);
  }

  padding: 15px 20px;
  margin-bottom: 10px;
  width: 250px;
  border-radius: 10px;
  font: 500 normal 14px/1.4 'Dodo Rounded';
  opacity: 0.95;
  transition-property: opacity, transform, margin;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  color: white;
  background: rgb(55, 53, 53);
}
