.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 9999px;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 200ms;
  font: 500 normal 14px/1.14 'Dodo';
  &:disabled,
  &:disabled:hover {
    background-color: #e2e2e9;
    color: #abadba;
    cursor: not-allowed;
  }
  &:hover {
    #quantity {
      opacity: 0;
      transform: translateX(2px);
    }
    #nav-arrow-right {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

.small-btn {
  padding: 8px 16px;
  font: 500 normal 14px/1.14 'Dodo';
  &:hover {
    color: #000000;
  }
}

.primary-btn {
  color: #ffffff;
  background-color: #ff6900;
  &:hover {
    background-color: rgb(232, 97, 0);
    color: rgb(255, 255, 255);
  }
  &:active {
    background-color: rgb(255, 105, 0);
    color: rgb(255, 165, 102);
  }
}

.secondary-btn {
  background-color: rgb(255, 240, 230);
  color: rgb(209, 87, 0);
  &:hover {
    background-color: rgb(255, 210, 179);
    color: rgb(209, 87, 0);
  }
  &:active {
    background-color: rgb(255, 240, 230);
    color: rgb(255, 210, 179);
  }
}

.tertiary-btn {
  color: #5c6370;
  background-color: #f3f3f7;
  &:hover,
  &:active {
    color: rgb(0, 0, 0);
  }
}

.medium-btn {
  padding: 8px 20px;
  font: 500 normal 16px/24px 'Dodo';
}

.big-btn {
  width: 100%;
  height: 48px;
  padding: 12px 24px;
  font-size: 16px;
  line-height: 24px;
}
