.modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;

  &.visible {
    visibility: visible;
    opacity: 1;
  }

  &__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
  }

  &__window {
    $width: 925px;
    $height: 610px;
    $border-radius: 20px;
    position: fixed;
    left: calc(50% - $width / 2);
    top: calc(50% - $height / 2);
    display: flex;
    width: $width;
    height: $height;
    border-radius: $border-radius;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 30px 60px;
    background-color: #fff;
  }

  &__close_btn {
    width: 25px;
    height: 25px;
    position: absolute;
    right: -38px;
    top: 13px;

    &:hover {
      transform: scale(1.11);
    }

    img {
      width: 25px;
      height: 25px;
    }
  }
  &__left {
    width: 530px;
    max-height: 610px;
  }
  &__right {
    width: 395px;
    height: 610px;
    padding: 30px 3px 0 0;
    background-color: rgb(252, 252, 252);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }

  &__inner {
    position: relative;
    width: 100%;
    height: 478px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 8px;
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: lighten(rgba(57, 57, 57, 0.3), 40%);
      border-radius: 4px;
      &:hover {
        background-color: rgba(57, 57, 57, 0.3);
      }
    }

    &_content {
      padding: 0 19px 0 30px;
    }
  }
  &__title {
    font: 500 normal 24px/28px "Dodo Rounded";
  }

  &__card_box {
    padding: 14px 0px 24px;
  }

  &__card_title {
    font: 600 normal 20px/24px "Dodo Rounded";
    margin-bottom: 12px;
  }
  &__card_container {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }
  &__button {
    margin: 24px 30px 30px;
    button {
      width: 100%;
    }
  }
}

//? npm i -D sass
