.header__nav {
  padding: 12px 0;
  width: 100%;
  height: 52px;
  border-bottom: 1px solid rgb(243, 243, 247);
}

.header__nav-list {
  display: flex;
  gap: 20px;
  align-items: center;
  height: 100%;
}

.header__nav-item {
  font: 600 normal 14px/1.43 'Dodo Rounded';
}

.header__nav-link {
  transition: color 0.25s ease;
}

.header__nav-link:hover {
  color: rgb(255, 105, 0);
}

.header__nav-item:first-child .header__nav-link {
  position: relative;
  padding-left: 14px;
}

.header__nav-item:first-child .header__nav-link::before {
  content: ' ';
  position: absolute;
  left: 0px;
  bottom: 3px;
  background: red;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  animation: 1s ease-in-out 0s infinite alternate pulse;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
  from {
    opacity: 0.3;
  }
}

.header__content {
  display: flex;
  align-items: center;
  /* gap: 40px; */
  padding: 24px 0px 16px;
}

.header__logo {
  width: 250px;
}

.header__about,
.header__contacts {
  margin-left: 40px;
}

.header__about-text {
  font: 500 normal 18px/1.2 'Dodo Rounded';
}

.header__about-link {
  color: rgb(255, 105, 0);
}

.header__about-link:hover {
  color: rgb(232, 97, 0);
}

.header__about-rate-text {
  margin-top: 1px;
  font: 500 normal 15px/1.4 'Dodo Rounded';
}

.header__about-rate-text:hover .header__info {
  opacity: 1;
  transform: translateX(calc(-50% + 1.5px)) translateY(12px);
}

.dot {
  position: relative;
  display: inline-block;
  width: 3px;
  height: 3px;
  margin: 3px 6px;
  border-radius: 3px;
  background-color: black;
}

.header__info {
  pointer-events: none;
  position: absolute;
  z-index: 101;
  opacity: 0;
  transform: translateX(calc(-50% + 1.5px)) translateY(20px);
  margin-top: 6px;
  width: 450px;
  min-height: 45px;
  padding: 12px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(55, 53, 53);
  transition: all 200ms ease-in-out;
}

.info__left,
.info__right {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.info__big-text {
  font: 500 26px/1.25 'Dodo Rounded';
  display: block;
}

.info__right .info__big-text {
  color: rgb(255, 210, 0);
}

.stars-list {
  display: inline-block;
  margin-left: 4px;
}

.stars-list__item {
  display: inline-block;
  margin-inline: 1px;
}

.info__info__medium-text {
  display: block;
  margin-top: 2px;
  font: 500 normal 14px/1.25 'Dodo Rounded';
}

.info__text {
  display: block;
  margin-top: 5px;
  color: rgb(171, 173, 186);
  font: 500 normal 14px/1.25 'Dodo Rounded';
}

/* bad code */
.info__text-bottom {
  margin-top: 16px;
}

.triangle {
  position: absolute;
  width: 22px;
  height: auto;
  fill: rgb(55, 53, 53);
  top: -9px;
  left: 50%;
  margin-left: -11px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 0px;
  line-height: 0;
  font-style: normal;
}

.star {
  display: inline-block;
  margin-left: 2px;
}

.header__phone-number {
  font: 500 normal 18px/1.2 'Dodo Rounded';
}

.header__phone-text {
  margin-top: 4px;
  font: 500 normal 15px/1 'Dodo Rounded';
  color: rgb(153, 153, 153);
}

.header__coin {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 32px;
}

.coin__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coin__icon svg path {
  transition: all 150ms ease 0s;
}

.coin__link:hover .coin__icon {
  transform: translateY(-4px);
}

.coin__link:hover .coin__icon svg path {
  fill: rgb(255, 105, 0);
}

.coin__link:hover .coin__text {
  color: rgb(255, 105, 0);
}

.coin__icon {
  width: 28px;
  height: 28px;
  transition: all 150ms ease 0s;
}

.coin__text {
  font: 600 normal 14px/1.29 'Dodo Rounded';
  transition: color 150ms ease 0s;
}

.header__btn {
  margin-left: 32px;
}
