.footer {
  display: flex;
  flex-flow: column;
  padding-bottom: 20px;
  font: 400 normal 16px/1.25 'Dodo';
  background-color: rgb(24, 24, 24);
  overflow: hidden;
  color: white;
  &__apps {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: 30px 0px 0px;
    &_left {
      display: flex;
      flex-direction: row;
      &_linkSection {
        display: flex;
        flex-direction: column;
        -webkit-box-pack: start;
        justify-content: flex-start;
        min-width: 130px;
        margin-right: 60px;
        margin-bottom: 50px;
        &_title {
          font-weight: 500;
          letter-spacing: 0.1px;
          margin-bottom: 9px;
        }
        &_link {
          line-height: 1.2;
          margin-bottom: 9px;
          white-space: normal;
          display: inline-block;
          color: rgb(255, 255, 255);
          text-decoration: none;
          cursor: pointer;
          opacity: 0.7;
        }
        &_link:hover {
          opacity: 1;
        }
      }
    }
    &_right {
      flex-flow: column;
      -webkit-box-pack: start;
      justify-content: flex-start;
      align-items: flex-end;
      &_contact {
        margin-bottom: 12px;
        &_num {
          display: flex;
          justify-content: end;
          white-space: nowrap;
          font-size: 26px;
          line-height: 1.2;
          font-family: 'Dodo';
          font-weight: 500;
          a {
            display: inline-block;
            color: rgb(255, 255, 255);
            text-decoration: none;
            cursor: pointer;
          }
        }
        &_text {
          display: flex;
          justify-content: end;
          margin-top: 4px;
          color: rgb(153, 153, 153);
          font-size: 15px;
          line-height: 1;
          font-family: 'Dodo';
          font-weight: 500;
        }
      }
      &_text {
        align-items: flex-end;
      }
      &_mail_link {
        display: inline-block;
        color: rgb(255, 255, 255);
        text-decoration: none;
        cursor: pointer;
        font: 400 normal 16px 'Dodo';
        opacity: 0.7;
      }
      &_mail_link:hover {
        opacity: 1;
      }
    }
  }
  &__info {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    &_stats {
      display: flex;
      padding-bottom: 27px;
      &_revenue {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 29%;
        margin-right: 60px;
        &_num {
          font: 400 normal 26px 'Dodo';
          margin: 23px 0px 13px;
        }
        &_text {
          opacity: 0.5;
          line-height: 1.4;
          &_money {
            white-space: nowrap;
          }
        }
      }
    }
  }
  &__info::after {
    content: ' ';
    display: block;
    clear: both;
  }
  &__social {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 25px;
    color: rgba(255, 255, 255, 0.7);
    &_copyright {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      margin-right: 16px;
      &_img {
        fill: rgb(255, 255, 255);
        width: 110px;
        opacity: 0.7;
        margin-right: 8px;
        margin-bottom: -1px;
      }
      .copyright-text {
        color: rgba(255, 255, 255, 0.7);
      }
    }
    &_bottomLinks {
      display: flex;
      -webkit-box-flex: 1;
      flex-grow: 1;
      a {
        margin-right: 16px;
        color: rgb(255, 255, 255);
        opacity: 0.7;
      }
      a:hover {
        opacity: 1;
      }
    }
    &_socialLinks {
      display: flex;
      &_logo {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        width: 32px;
        height: 32px;
        margin-left: 8px;
        border-radius: 4px;
        background-color: rgba(196, 196, 196, 0.2);
        overflow: hidden;
        cursor: pointer;
        img {
          width: 75%;
        }
        img path {
          color: red;
        }
      }
      &_logo:hover {
        background-color: rgba(196, 196, 196, 0.5);
      }
    }
  }
}
