* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Dodo Rounded";
  scroll-behavior: smooth;
}

#root {
  height: 200vh;
}

body {
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}
